
<mat-card class="mCard">
<!--titulo de la tabla-->
  <mat-card-header class="mTitleCard">
    <mat-card-title class="title">Users Table</mat-card-title>
  </mat-card-header>

  <mat-card-content>
<!--boton para recargar la informacion de los usuarios-->
      <button (click)="loading()" mat-fab extended color="primary" class="mTitleCard" >
        <mat-icon>autorenew</mat-icon>
        Load Users
      </button>
<!--barra de carga y mensaje de alerta-->
      <mat-progress-bar class="mLoad mTitleCard" mode="indeterminate" *ngIf="load"></mat-progress-bar>
      <p class="mTitleCard textAlert" *ngIf="load">user information is being loaded, Please wait!</p>

      <div class="pTable" *ngIf="!load">
<!--filtrado de la tabla usuarios-->
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="filter($event)" placeholder="Name, Email" #input>
        </mat-form-field>
<!--tabla usuarios-->
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
  </mat-card-content>
</mat-card>
